.productContiner {
    height: auto;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.productBox {
    position: relative;
    height: 170px;
    width: 194px;
    background: white;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.imgProduct {
    height: 114px;
    width: 174px;
    border-radius: 5px;
}

.namePriceBox {
    height: 30px;
    width: 174px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: #1F1617;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.hoverBox {
    
    display: none;
}

.productBox:hover .hoverBox {
    display: block;
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0;
    left: 168px;
    background: white;
    border: 1px solid;
    border-radius: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editDeletContiner{
    display: none;
}
.iconeBox{
    height: 20px;
    width: 96%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hoverBox:hover .editDeletContiner {
    display: block;
    position: absolute;
    top: 25px;
    right: 0px;
    height: 45px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(160, 160, 160, 0.838);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.511);
}
.iconeBox:hover{
    background: white;
    border: 1px solid;
}