.modalContiner {
    height: 100vh;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modalBox {
    height: 400px;
    width: 360px;
    background: white;
    padding: 5px 15px;
    border-radius: 10px;
}

.title {
    height: 60px;
    width: 100%;
    /* background: aqua; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    /* identical to box height */

    text-transform: capitalize;

    color: #2E2E2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: 30px;
    width: 30px;
    color: rgba(79, 79, 79, 0.55);
    cursor: pointer;
}

.ganderContiner {
    height: 50px;
    width: 100%;
    /* background: sandybrown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.womanBox {
    height: 40px;
    width: 150px;
    /* background: rgb(206, 173, 152); */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.manBox {
    height: 40px;
    width: 150px;
    /* background: rgb(196, 157, 130); */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.inputAddName {
    height: 30px;
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 15px;
    font-size: 16px;
    border-bottom: 1px solid #C1C1C1;
}


.addPhotoInput[type=file] {
    display: none;
}

.addPhoto {
    /* margin-top: 20px; */
    display: block;
    height: 145px;
    width: 100%;
    background: #D3D3D3;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 7px;
}

.iconPhoto {
    height: 50px;
    width: 50px;
    color: white;
}

.inputBoxText {
    text-align: center;
    color: white;
}


.addBtnContiner {
    height: 32px;
    width: 100%;
    /* background: saddlebrown; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton {
    height: 32px;
    width: 100%;
    border: 1px solid blue;
    background: blue;
    border-radius: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    cursor: pointer;
    text-transform: capitalize;
    color: #FFFFFF;
}
.imgBox{
    height: 145px;
    width: 100%;
    /* background: saddlebrown; */
    background-size: 70%;
    background-repeat: no-repeat;
    /* background-position: center; */
    
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    height: 100%;
    /* width: 100%; */
}